/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: #f7efe5;
    color: #4b3f3f;
    display: flex;
    justify-content: center;
}

/* CONTAINER */
.container {
    max-width: 800px;
    width: 100%;
    padding: 10px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    background: rgba(255, 250, 247, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px;
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #e895a8;
}

.nav-links a {
text-decoration: none;
color: #4b3f3f;
transition: 0.3s;

}

.nav-links a:hover {
    color: #e895a8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero-logo {
    width: 160px;
    margin-bottom: 10px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 22px;
    background: #f4a7b9;
    color: white;
    border-radius: 25px;
    text-decoration: none;

    transition: 0.3s;
}
.btn:hover {
    background: #e895a8;
    box-shadow: 0 5px 15px rgba(232, 149, 168, 0.4);
}

/* SECTION */
.section {
    padding: 70px 20px;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    color: #5a4a4a;
}

/* GRID (FOR CARDS) */
.grid {
    display: grid;
    gap: 15px;
}

/* CARDS */
.card {
    background: #fffaf7;
    padding: 20px;
    border-radius: 20px;

    border: 2px solid #f1d6dc;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);

    margin: 15px auto;
}

.card h3 {
    margin-bottom: 10px;
}

/* GALLERY */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 12px;
}

/* RESPONSIVE */
@media (min-width: 600px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card p {
    margin: 6px 0;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}